body {
	color: white;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}

.cat-icon {
	width: 30px;
	height: 30px;
}

.card-icon {
	width: 90px;
	height: 55px;
}

.card-thumb {
	width: 35px;
	height: 23px;
}

.card-img {
	height: 150px;
	width: 100%;
	display: block;
	border-radius: 15px
}

h3.card-header {
	font-size: 15px;
}

p.card-text {
	font-size: 0.75em;
}

div.card-body {
	padding: 0.5em;
}